body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    padding: 2rem;
    
    border-radius: 1rem;
    background-color: transparent;

    .message {
        border-radius: 0.5rem;
        background-color: rgba( 0, 0, 0, 0.125);
        padding: 2rem;

        & p {
            padding: 0;
            margin: 0 0 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }

            & a {
                display: inline-block;
                margin-top: 1rem;
                padding: 0.75rem 1.5rem;
                border-radius: 0.25rem;
                border: 0.125rem solid #fff;
                font-weight: 700;
                color: #fff;
                transition: color 0.5s ease, background-color 0.5s ease;
            }

        }

        &.ready {
            
            background-color: #178;
            color: #fff;

            & a {
                &:hover {
                    background-color: #fff;
                    color: #178;
                }
            }
        }
    
        &.error {
            
            background-color: #d23;
            color: #fff;

            & a {
                &:hover {
                    background-color: #fff;
                    color: #d23;
                }
            }

        }

        &.center {
            text-align: center;
        }

    }

    &:has(form) {
        width: 30rem;
        border: 0.125rem solid black;
    
        & .error {
            padding: 1rem;
            margin-bottom: 1.5rem;
        }
    }

}













form {
    & input {
        
        display: inline-block;
        width: calc(100% - 1rem);
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 1.125rem;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
        }

        &[type="file"] {
            padding: 0;
        }
    }

    & button {
        display: inline-block;
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1.25rem;
        border: none;
        border-radius: 0.5rem;
        transition: background-color 0.5s ease;
        cursor: pointer;
        background-color: #666;
        color: #fff;

        &:hover {
            background-color: #000;
        }
    }


}
